<div *ngIf="people.length > 0 else loading" class="wrapper">
  <div class="grid gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
    <div *ngFor="let character of people" class="w-72 mx-auto transparent-card">
      <div class="text-2xl font-bold">
        {{character.name}}
      </div>
      <div class="flex items-center px-4 py-4">
        <i class="pi" [ngClass]="{'pi-mars': character.gender === 'male', 'pi-venus': character.gender === 'female'}"></i>
        <span class="ml-2">{{character.gender | titlecase}}</span>
      </div>
      <p class="p-m-0" style="line-height: 1.5;">
        <i class="pi pi-sort-amount-down mr-2"></i>Height: {{character.height}} cm<br>
        <i class="pi pi-prime mr-2"></i>Mass: {{character.mass}} kg<br>
        <i class="pi pi-calendar mr-2"></i>Birth Year: {{character.birth_year}}
      </p>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="w-full h-full flex justify-center items-center">
    <p-progressSpinner></p-progressSpinner>
  </div>
</ng-template>