<div *ngIf="starShips else loading" class="detail-wrapper p-8 bg-gray-900 text-white rounded-lg shadow-lg max-w-2xl mx-auto">
  <div class="flex flex-col items-center">
    <h1 class="text-title text-3xl text-gray-50 font-bold">{{ starShips.name }}</h1>
    <p class="text-lg text-gray-400">{{ starShips.model }}</p>
  </div>
  <div class="mt-4">
    <hr class="mb-4" />
    <h2 class="text-title text-2xl text-gray-300 font-semibold mb-4">Details</h2>
    <div class="grid grid-cols-2 gap-4">
      <div><span class="font-semibold">Manufacturer:</span> {{ starShips.manufacturer }} cm</div>
      <div><span class="font-semibold">Cost in credits:</span> {{ starShips.cost_in_credits }} kg</div>
      <div><span class="font-semibold">Length:</span> {{ starShips.length }}</div>
      <div><span class="font-semibold">Max Atmosphering Speed:</span> {{ starShips.max_atmosphering_speed }}</div>
      <div><span class="font-semibold">Crew:</span> {{ starShips.crew }}</div>
      <div><span class="font-semibold">Passengers:</span> {{ starShips.passengers }}</div>
      <div><span class="font-semibold">Cargo Capacity:</span> {{ starShips.cargo_capacity }}</div>
      <div><span class="font-semibold">Consumables:</span> {{ starShips.consumables }}</div>
    </div>
  </div>
  <div *ngIf="starShips.films.length > 0" class="mt-4">
    <hr class="mb-4" />
    <h2 class="text-title text-2xl text-gray-300 font-semibold mb-2">Films</h2>
    <ul class="list-disc list-inside">
      <li *ngFor="let film of starShips.films">
        <span class="cursor-pointer text-blue-400" (click)="goToDetailView('films', film)">{{ 'Film ' + getTheNumber(film) }}</span>
      </li>
    </ul>
  </div>
  <div *ngIf="starShips.pilots.length > 0" class="mt-4">
    <hr class="mb-4" />
    <h2 class="text-title text-2xl text-gray-300 font-semibold mb-2">Pilot</h2>
    <ul class="list-disc list-inside">
      <li *ngFor="let pilot of starShips.pilots">
        <span class="cursor-pointer text-blue-400" (click)="goToDetailView('people', pilot)">{{ 'Pilot ' + getTheNumber(pilot) }}</span>
      </li>
    </ul>
  </div>
</div>

<ng-template #loading>
  <div class="w-full h-full flex justify-center items-center">
    <p-progressSpinner></p-progressSpinner>
  </div>
</ng-template>