<div *ngIf="vehicles else loading" class="detail-wrapper p-8 bg-gray-900 text-white rounded-lg shadow-lg max-w-2xl mx-auto">
  <div class="flex flex-col items-center">
    <img alt="Character" src="https://primefaces.org/cdn/primeng/images/usercard.png" class="w-32 h-32 rounded-full mb-4">
    <h1 class="text-title text-3xl text-gray-50 font-bold">{{ vehicles.name }}</h1>
    <p class="text-lg text-gray-400">{{ vehicles.model }}</p>
  </div>
  <div class="mt-4">
    <hr class="mb-4" />
    <h2 class="text-title text-2xl text-gray-300 font-semibold mb-4">Details</h2>
    <div class="grid grid-cols-2 gap-4">
      <div><span class="font-semibold">Manufacturer:</span> {{ vehicles.manufacturer }}</div>
      <div><span class="font-semibold">Cost in credits:</span> {{ vehicles.cost_in_credits }}</div>
      <div><span class="font-semibold">Length:</span> {{ vehicles.length }}</div>
      <div><span class="font-semibold">Max Atmosphering Speed:</span> {{ vehicles.max_atmosphering_speed }}</div>
      <div><span class="font-semibold">Crew:</span> {{ vehicles.crew }}</div>
      <div><span class="font-semibold">Passengers:</span> {{ vehicles.passengers }}</div>
      <div><span class="font-semibold">Cargo Capacity:</span> {{ vehicles.cargo_capacity }}</div>
      <div><span class="font-semibold">Consumables:</span> {{ vehicles.consumables }}</div>
      <div><span class="font-semibold">Vehicle Class:</span> {{ vehicles.vehicle_class }}</div>
    </div>
  </div>
  <div *ngIf="vehicles.films.length > 0" class="mt-4">
    <hr class="mb-4" />
    <h2 class="text-title text-2xl text-gray-300 font-semibold mb-2">Films</h2>
    <ul class="list-disc list-inside">
      <li *ngFor="let film of vehicles.films">
        <span class="cursor-pointer text-blue-400" (click)="goToDetailView('films', film)">{{ 'Film ' + getTheNumber(film) }}</span>
      </li>
    </ul>
  </div>
  <div *ngIf="vehicles.pilots.length > 0" class="mt-4">
    <hr class="mb-4" />
    <h2 class="text-title text-2xl text-gray-300 font-semibold mb-2">Pilots</h2>
    <ul class="list-disc list-inside">
      <li *ngFor="let pilot of vehicles.pilots">
        <span class="cursor-pointer text-blue-400" (click)="goToDetailView('people', pilot)">{{ 'Pilot ' + getTheNumber(pilot) }}</span>
      </li>
    </ul>
  </div>
</div>

<ng-template #loading>
  <div class="w-full h-full flex justify-center items-center">
    <p-progressSpinner></p-progressSpinner>
  </div>
</ng-template>