@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  background-image: url('./assets/stars.png');
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
  font-family: 'Montserrat', sans-serif !important;
}

.detail-wrapper {
  margin-top: 140px;
  margin-bottom: 50px;
}

.text-title {
  color: #FFE81F;
}